header {
  display: flex;
  justify-content: space-around;
}
.main {
  text-align: center;
}

.btn {
  background-color: aqua;
  border-radius: 5px;
  padding: 3px 8px;
  font-size: 18px;
  cursor: pointer;
  display: block;
  margin: 5px 20px 5px 0;
}
#start {
  margin: 5px auto;
}
.btn:hover {
  background-color: lightskyblue;
}
#high-score:hover {
  color: purple;
  cursor: pointer;
}
.btn:active {
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}
.question-layout {
  margin-left: 20%;
  text-align: left;
}
form {
  display: flex;
}
form input {
  outline: none;
  border: none;
  padding: 8px;
  border: 2px solid grey;
  border-radius: 5px;
  margin-right: 12px;
}
.high-score-list {
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin: 5px auto;
}

.hs-buttons {
    display: flex;
    justify-content: center;
}
.answer-match {
    border-top: 1px lightsteelblue solid;
    width: 80%;
    color: lightsteelblue;
    font-size: 26px;
    margin-top: 16px;
    padding-top: 12px;
}
